.feature__list {
    // display: flex;
    list-style: none;
    // padding: 0;
    // margin: 0;

    li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      li {
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 0;
        &:nth-child(2n + 1) {
          margin-right: 30px;
        }
        &:first-child {
          margin-bottom: 30px;
        }
      }
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      li {
        // flex-basis: calc((100% - 3 * 30px) / 4);
        flex-basis: calc(100% / 4 - 30px);
        margin-bottom: 0;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }


  .feature__subtitle {
    // display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin-bottom: 10px;
    text-align: center;
    max-width: 450px;

    @media screen and (min-width: 768px) {
    text-align: left;
  }
  }
  
  .text__feature {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    // text-align: start;
    max-width: 450px;
    min-width: 260px;
  }
  
  .feature__iconbox {
    background-color: var(--thumb-background-color);
    max-width: 450px;
    height: 120px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      width: 354px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  
  .feature__icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    fill: currentColor;
  }