.hero {
  display: flex;
  align-items: center;
    background: $main-site-section;
    height: 400px;
    margin: 0 auto;
    background-image:
    url(../images/hero-bg-mob-1x.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0;
  @media (min-resolution: 2dppx) {
    background-image:
      url(../images/hero-bg-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    // max-width: 768px;
    background-image: 
      url(../images/hero-bg-tab-1x.jpg);
  }

  @media screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: 
      url(../images/hero-bg-tab-2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 1400px;
    min-height: 450px;
    background-image:
      url(../images/hero-bg-note-1x.jpg);
    padding-top: 200px;
    // padding-bottom: 280px;
  }

  @media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: url(../images/hero-bg-note-2x.jpg);
  }
  background-position: center;
  }

  .hero__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .hero__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    // text-transform: uppercase;
    color: #fff;

    @media screen and (min-width: 1200px) {
      font-size: 42px;
      line-height: 1.36;
      line-height: 1.0;
      font-weight: 300;
    }
  }

  #small {
  font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    margin-top: 8px;
    // text-transform: uppercase;
    color: #fff;
  
    @media screen and (min-width: 1200px) {
      font-size: 35px;
      line-height: 1.36;
      line-height: 1.0;
      font-weight: 300;
    }
  }